.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar li {
    padding: 5px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  top: 100%; /* Coloca el menú debajo del elemento padre */
  left: 0; /* Alinea el menú con el lado izquierdo del elemento padre */
}


  
  .dropdown.open .dropdown-content {
    display: block;
  }
  
  /* Ajusta el estilo de los elementos del menú desplegable */
  .dropdown-content li {
    padding: 10px;
  }
  
  .dropdown-content li:hover {
    background-color: #ddd;
  }